syntax definition required

for the value to be well-defined, it would be good to have a syntax definition. ABNF is the the preferred language for syntax definitions in IETF documents. https://tools.ietf.org/html/rfc7240#section-1.1 serves as a good starting point for how to define value syntax.

Can you please help with this? Maybe a PR? Thanks!

On 2018-01-15 13:30, Irakli Nadareishvili wrote:
> Can you please help with this?

i wanted to get us started, but i have problems locating the definition 
of "word" as used in RFC 7240. 
https://tools.ietf.org/html/rfc7240#section-1.1 states:

 > This specification uses the Augmented Backus-Naur Form (ABNF) 
notation of [RFC5234] and includes, by reference, the "token", "word", 
"OWS", and "BWS" rules and the #rule extension as defined within 
Sections 3.2.1 and 3.2.4 of [RFC7230]; as well as the "delta-seconds" 
rule defined in Section 8.1.3 of [RFC7231].

but looking through RFC 7230 there does not seem to be a "word" 
definition. can you please double-check?


On 2018-01-15 17:50, Erik Wilde wrote:
> but looking through RFC 7230 there does not seem to be a "word" 
> definition. can you please double-check?

looking at the RFC 7240 errata i apparently was not the first one to 
notice. the erratum suggests a fix that we should probably use.

https://www.rfc-editor.org/errata_search.php?rfc=7240&eid=4439
